<a 
  href="<%- href %>"
  target="_blank"
  class="
    m-btn 
    relative flex justify-center items-center bg-[#000] !text-[#fff] tracking-[1px]
    w-[297px] h-[53px] mt-[20px] 
  "
>
  <p class="text-[23px] "><%- text %></p>
</a>