
<div 
  class="
    text-center 
    pt-[40px]
  "
>
  <h2
    class="
      m-tit
      text-center relative inline-block text-[#fff] border-[#fff] border-solid border-[3px] box-border tracking-[2px]
      h-[60px] leading-[60px] 
      pt:mb-[27px] pt:min-w-[600px]
      m:mb-[25px]  m:w-full
    "
  > <span class="pt:text-[33px] m:text-[30px]"><%- text %></span>
</div>